<% provide(:title, 'Monhan Search') %>
<h1>Monhan Search</h1>

<h3>検索条件</h3>
<div class="row">
  <%= form_tag({controller:"eqps",action:"index"}, method: :get) do %>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <label for="search">検索条件：</label>
        </div>
        <div class="col-md-3">
          <%= select_tag("c1", options_for_select(@option_hash_c1.invert), :selected => 0) %>
        </div>
        <div class="col-md-3">
          <%= select_tag("c2", options_for_select(@option_list_c2), :selected => 0) %>
        </div>
        <div class="col-md-3">
          <%= select_tag("c3", options_for_select(@option_hash_c3.invert), :selected => 0) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="show">表示条件：</label>
        </div>
        <div class="col-md-3">
          <%= select_tag("c4", options_for_select(@option_hash_c4.invert), :selected => 0) %>
        </div>
        <div class="col-md-3">
          <%= select_tag("c5", options_for_select(@option_hash_c5.invert), :selected => 0) %>
        </div>
        <div class="col-md-2">
          <label for="num_show">表示件数：</label>
        </div>
        <div class="col-md-1">
          <%= select_tag("c6", options_for_select(@option_list_c6), :selected => 0) %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <%= submit_tag '検索'  %>
    </div>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">物理防御力</th>
      <th scope="col">魔法防御力</th>
      <th scope="col">パラメータ1</th>
      <th scope="col">パラメータ2</th>
      <th scope="col">パラメータ3</th>
      <th scope="col">パラメータ4</th>
      <th scope="col">パラメータ5</th>
    </tr>
  </thead>

  <tbody>
    <% @eqp1s.each do |eqp| %>
      <tr>
        <td><%= eqp.id %></td>
        <td><%= eqp.param_d %></td>
        <td><%= eqp.param_md %></td>
        <td><%= eqp.param_1 %></td>
        <td><%= eqp.param_2 %></td>
        <td><%= eqp.param_3 %></td>
        <td><%= eqp.param_4 %></td>
        <td><%= eqp.param_5 %></td>
      </tr>
    <% end %>
    <% @eqp2s.each do |eqp| %>
      <tr>
        <td><%= eqp.id %></td>
        <td><%= eqp.param_d %></td>
        <td><%= eqp.param_md %></td>
        <td><%= eqp.param_1 %></td>
        <td><%= eqp.param_2 %></td>
        <td><%= eqp.param_3 %></td>
        <td><%= eqp.param_4 %></td>
        <td><%= eqp.param_5 %></td>
      </tr>
    <% end %>
    <% @eqp3s.each do |eqp| %>
      <tr>
        <td><%= eqp.id %></td>
        <td><%= eqp.param_d %></td>
        <td><%= eqp.param_md %></td>
        <td><%= eqp.param_1 %></td>
        <td><%= eqp.param_2 %></td>
        <td><%= eqp.param_3 %></td>
        <td><%= eqp.param_4 %></td>
        <td><%= eqp.param_5 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

