<% provide(:title, 'Real Image Sample') %>

<div class="center">
  <h1>Real Image Sample</h1>
  <h3></h3>
</div>

<div class="row row_margin">
  <div class="col-md-1 center">
    <%#= link_to image_tag("r/0.png", width: "150px"), "#" %>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/0.png", width: "150px"), "#" %>
    <h3>T-shirt/top</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/1.png", width: "150px"), "#" %>
    <h3>Trouser</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/2.png", width: "150px"), "#" %>
    <h3>Pullover</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/3.png", width: "150px"), "#" %>
    <h3>Dress</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/4.png", width: "150px"), "#" %>
    <h3>Coat</h3>
  </div>
  <div class="col-md-1 center">
    <%#= link_to image_tag("r/0.png", width: "150px"), "#" %>
  </div>
</div>

<div class="row row_margin">
  <div class="col-md-1 center">
    <%#= link_to image_tag("r/0.png", width: "150px"), "#" %>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/5.png", width: "150px"), "#" %>
    <h3>Sandal</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/6.png", width: "150px"), "#" %>
    <h3>Shirt</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/7.png", width: "150px"), "#" %>
    <h3>Sneaker</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/8.png", width: "150px"), "#" %>
    <h3>Bag</h3>
  </div>
  <div class="col-md-2 center">
    <%= link_to image_tag("r/9.png", width: "150px"), "#" %>
    <h3>Ankle boot</h3>
  </div>
  <div class="col-md-1 center">
    <%#= link_to image_tag("r/0.png", width: "150px"), "#" %>
  </div>
</div>
